.articlePage {
    width: 100%;
}

.article-intro {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2px;
    content: '';
    opacity: 0.5;
    background-color: #000;
}

.article-img {
    width: 100%;
    height: 85vh;
}

.article-title{
position: absolute;
top:50%;
left: 30%;
margin: -50px 0 0 0;
    
    z-index: 1; 

    font-family: "Playfair Display", serif;
    font-size: 64px;
    font-weight: 700;
    color: #fff;

    text-align: center;
}

.article-title span {
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
}

.article {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.article-author {
    font-style: italic;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 30px;
}