.post-btn {
  width: 100%;
  padding: 0;
  margin-top: 20px;
}f

.read-more__btn {
  font-family: "Poppins", sans-serif;
  text-transform: lowercase;
  text-align: center;
  margin-left: 0;
  padding: 15px 0 15px 0;
}
