.slider-content {
    font-family: 'Poppins', sans-serif;

    width: 30%;
    background-color: #ffd615;
    padding: 48px;
}

.read-more__btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

.btn img {
    position: absolute;
    top: 11px;
    right: 15px;

    height: 20px;
}

.slider-arrows{
    display: flex;
    width: 100%;
}

.arrow-prev, .arrow-next{
    width: 50%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.65);
    border-radius: 2px;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    padding: 15px;
    margin: 62px 10px 0 0;
    transition: all 0.2s linear;
}

.arrow-prev:hover, 
.arrow-next:hover{
    color: #000;
    background-color: rgb(235, 235, 235);
}
