.stories-little__item {
    width: 270px;
    margin: 0 20px 0 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s linear, transform 0.2s linear;
    cursor: pointer;
}

.stories-little__item:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.stories-little__item:nth-child(1), .stories-little__item:nth-child(2) {
    margin-bottom: 15px;
}

.stories-little__item-img {
    width: 270px;
    height: 180px;
    border-radius: 5px;
}

.stories-little__item-cat {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 10px;
}

.stories-little__item-cat{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}

.stories-little__item-cat:after {
    content: '';
    position: absolute;
    bottom: 7px;
    left: 90px;
    width: 100px;
    height: 1px;
    background: #000;
}

.stories-little__item-title {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    color: rgba(0, 0, 0);
    font-weight: 400;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
    padding: 0 5px;
}

.read-more {
    text-align: center;
    padding-bottom: 10px;
}

.read-more a {
    text-decoration: none;
    text-transform: capitalize;
    font: 25px;
    font-weight: 500;
    color: #fd5f00;
    transition: text-decoration 0.2 linear, opacity 0.2 linear;
}

.read-more a:hover {
    text-decoration: underline;
    opacity: 0.7;
}