.nav-list {
    display: flex;
}

.nav-item {
    padding-left: 25px;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: opacity 0.2 linear;
    position: relative;
    padding: 2px;
}

.nav-link:before, .nav-link:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ff5715;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link:after {
    bottom: 0;
    transform-origin: right;
}

.nav-link:before {
    top: 0;
    transform-origin: left;
}

.logo-name:hover, .nav-link:hover, .nav-link:hover:before, .nav-link:hover:after {
    opacity: 0.65;
    transform: scaleX(1);
}

/* .hamburger-menu {
    width: 35px;
    height: 35px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
}

.hamburger-menu:hover {
    opacity: 0.8;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #ff5715;
    z-index: 10;
    transition: all 0.5s;
}

.change .line1 {
    transform: rotateZ(-45deg) translate(-10px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotateZ(45deg) translate(-10px, -6px);
} */