.foods-main{
    background: url(../../../img/bg_4.jpg) center/cover;
    height: 70vh;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0.5;
    background-color: #000;
}

.food-main__title{
    text-align: center;
    
    z-index: 1; 

    font-family: "Playfair Display", serif;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}

.food-main__sub-title span{
    font-size: 16px;
    font-weight: 400;
}
